

body{
color: Black;
font-family: Arial Narrow; 
font-size: 17px;
     padding: 35px;

background: linear-gradient(to right bottom, #181896, white, red);
}

h1{
color: Black;
font-family: Arial Narrow; 
font-size: 60px;
line-height: 35%;
text-align: center;
}

a{
text-decoration: none;
color: black;
    font-size: 60px;
}

a:hover{
  color: #181896;
  text-decoration: underline;
  
}

h2 {
  color: Black;
  font-family: Arial Narrow; 
  font-size: 40px;
  line-height: 25%;
  text-align: center;
}

p{
    
      padding-left: 17px;
}


h3 {
  color: Black;
  font-family: Arial Narrow; 
  font-size: 30px;
    padding-left: 20px;
}


h4{
line-height:10%;
    color: black;
    font-family: Arial Narrow;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 600;
    
}


